.counties {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 2px;
}
.state {
    fill: #cdcdcd;
    stroke: #565555;
    stroke-width: 2px;
}

.map {
    border: medium solid #999;
    margin: 10px 0 0 10px;
}

#chart_1, #chart2 {
    margin: 16px 20px 0 0;
}

.chartBackground {
    fill: rgba(128,128,128,.2);
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 1em;
    fill: #999;
}

.chartTitle {
    font-family: sans-serif;
    font-weight: bold;
}

.dropdown {
    position: absolute;
    z-index: 10;
    top: 25px;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
    font-weight: normal;
}
#dropdown_1 {
    left: 25px;
}
#dropdown_2 {
    left: 190px;
}

.infolabel {    
    margin: 0 20px 0 0;    
    position: absolute;
    min-height: 40px;
    min-width: 140px;
    color: #000;
    font-weight: bold;
    background-color: #f8e65fb2;
    border: solid thin #000;
    padding: 5px 10px;
    top: -75px;
}

.infolabel h2 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

#titleScreen {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
}

#titleBackground {
    fill: #cdcdcdbd;
}

#titleText {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2em;
}

.introText {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1em;
}